ion-title {
  color: #fff;
}

ion-icon {
  color: #fff;
}

p {
  color: #fff;
}

.hydrated {
  background-image: linear-gradient(#808080, #404040);
}

.toolbar-background {
  background: #000000;
  color: #fff;
}

/* main */ 

body {
  background: var(--ion-background-color);
}

/* Mensajes */ 

.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
  }   
  .my-message {
    background-image: linear-gradient(#FCE100, #000000);
    color: #ffffff;
  }
   
  .other-message {
    background: linear-gradient(#09FC00, #000000);
    color: #fff;
  }
   
  .time {
    color: #dfdfdf;
    float: right;
    font-size: small;
  }
   
  .message-input {
    margin-top: 0px;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: #fff;
  }
   
  .msg-btn {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
  }